<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="topnav">
          <a href="/">Home</a>
          <a href="/about">About</a>
        </div>
      </div>
    </header>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <div class="container">
        <div class="copyright">
          <p>&copy <%= Date.today.year %> - Julia K</p>
        </div>
        <div class="social">
          <a href="#" class="support">Contact Us</a>
          <a href="#" class="face">f</a>
          <a href="#" class="tweet">t</a>
          <a href="#" class="linked">in</a>
        </div>
      </div>
    </footer>
  </body>
</html>
